body{
    font: 20px Arial;
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(14, 56, 1);
    color: aliceblue;
}